services:
  db:
    image: mysql:latest
    container_name: acm-mysql
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD: root
      MYSQL_DATABASE: acm_transportes
      MYSQL_USER: acm_user
      MYSQL_PASSWORD: acm_pass
      TZ: America/Sao_Paulo
    ports:
      - "3307:3306"
    volumes:
      - mysql-data:/var/lib/mysql
    healthcheck:
      test: ["CMD", "mysqladmin", "ping", "-h", "localhost"]
      interval: 10s
      timeout: 5s
      retries: 3

volumes:
  mysql-data:
